.container {
  width: 100%;
  color: white;
  text-align: start;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.logo {
  width: 25px;
  height: 25px;
  background-color: #d9d9d9;
}
.p1__title {
  font-weight: 700;
  font-size: 1.2rem;
  font-family: "Montserrat";
}
.p2__desciption {
  margin-top: -5px;
  font-size: 1.17rem;
  line-height: 22px;
}
