.container {
  background-color: rgb(0, 0, 0);
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.inner__container {
  width: 95%;
  height: 97%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image {
  background-color: #d9d9d9;
  width: 100%;
  height: 147px;
}
.product__details {
  width: 86%;
  color: white;
  text-align: start;
}
.p1__title {
  font-weight: 700;
  font-size: 1.2rem;
  font-family: "Montserrat";
}
.p2__desciption {
  font-size: 1.17rem;
  line-height: 22px;
}
.insight {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-top: 15px;
}
.insight button {
  padding: 10px 15px 10px 15px;
  font-size: large;
}
